{% extends "layouts/master.html" %}
{% block title %}
Menu | EDIT
{% endblock %}

{% block content %}
<div class="container">
    <h1>This is MENU Edit Page</h1>
    <hr>
    <a href="{% url 'menu-list' %}" class="btn btn-secondary col-12 mb-3">Back</a>
    <div class="card p-5">
        <form action="{% url 'menu-update' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ data.id }}">
            <div class="form-group mb-3">
                <label for="menu_title">Menu Title</label>
                <input type="text" name="menu_title" class="form-control mt-2" value="{{ data.menu_title }}">
            </div>
            <div class="form-group mb-3">
                <label for="category_id">Menu Category</label>
                <select class="form-control mt3" name="category-create" id="">{% for val in categories %}
                    <option value="{{ val.id}}">{{ val.category_name }}</option>
                    {% endfor %}
                </select>
            <!-- <div class="form-group mb-3">
                <label for="category_id">Menu Category</label>
                <select class="form-control mt-3" name="category_id" id="">
                    {% for val in categories %}
                    <option value="{{ val.id }}">{{ val.category_name }}</option>
                    {% endfor %}
                </select>     
            </div>                

 -->


            </div>
            <div class="form-group mb-3">
                <label for="menu_desc">Menu Desc</label>
                <input type="text" name="menu_desc" class="form-control mt-2" value="{{ data.menu_desc }}">
            </div>
            <div class="form-group mb-3">
                <label for="menu_ingredient">Menu Ingredient</label>
                <input type="text" name="menu_ingredient" class="form-control mt-2" value="{{ data.menu_ingredient }}">
            </div>
            <div class="form-group mb-3">
                <label for="menu_price">Menu Price</label>
                <input type="text" name="menu_price" class="form-control mt-2" value="{{ data.menu_price }}">
            </div>
            <input type="submit" class="btn btn-primary col-12" value="Update">
        </form>
    </div>

    
</div>
{% endblock %}