{% extends "layouts/master.html" %}
{% block title %}
Menu | INDEX
{% endblock %}

{% block content %}
<div class="container">
    {% include 'partials/_message.html' %}
    <h1>This is MENU Index Page</h1>
    <hr>
    <a href="{% url 'menu-add' %}" class="btn btn-secondary col-12 mb-3">Add New Menu</a>
    <div class="card p-5">
        <table class="table table-hover">
            <thead>
                <th>S.No</th>
                <th>Title</th>
                <th>Category</th>
                <th>Desc</th>
                <th>Price</th>
                <th>Image</th>
                <th colspan="3">Action</th>
            </thead>
            <tbody>
                {% for val in data %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ val.menu_title}}</td>
                    <td>{{ val.category_id.category_name}}</td>
                    <td>{{ val.menu_desc}}</td>
                    <td>{{ val.menu_price}}</td>
                    <td><a href="{% url 'menu-edit' val.id %}">Edit</a></td>
                    <td><a href="{% url 'menu-show' val.id %}">Show</a></td>
                    <td><a href="{% url 'menu-delete' val.id %}">Delete</a></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}